<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <title>Markvel - Responsive Agency HTML Template</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Markvel - Responsive Agency HTML Template">
  <meta name="keywords"
    content="Markvel, agency, business, company, consulting, consulting html template, coran, corporate, digital agency, marketing, responsive">

  <!-- Plugin css -->
  <link href="/static/css/plugins/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/plugins/slick.css" rel="stylesheet">
  <link href="/static/css/plugins/ion.rangeSlider.min.css" rel="stylesheet">
  <link href="/static/css/plugins/magnific-popup.css" rel="stylesheet">
  <link href="/static/fonts/flaticon/flaticon.css" rel="stylesheet">
  <link href="/static/fonts/font-awesome.min.css" rel="stylesheet">
  <!-- Main css -->
  <link href="/static/css/style.css" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
</head>

<body class="btn-style-1 btn-rounded sidebar-style-2">
  <!--header Start-->
  <!-- <div id="section-header">
    <aside class="sigma_aside sigma_aside-desktop">
      <div class="sidebar"> -->
        <!-- Recent Posts Widget -->
        <!-- <div class="widget widget-sigma-recent-posts style-3">
          <h5 class="widget-title">Recent Post</h5>
          <div class="sigma_recent-post">
            <div class="sigma_post-categories">
              <a href="#">Building</a>
            </div>
            <div class="recent-post-descr">
              <h6>
                <a href="blog-details.html">Every Next Level Of Your Life Will Demand Something</a>
              </h6>
              <div class="author-info d-flex align-items-center">
                <span>TA</span>
                <div>
                  <a href="#" class="author-name">Tim Abell</a>
                  <a href="blog-details.html" class="date">June 4, 2023</a>
                </div>
              </div>
            </div>
          </div>
          <div class="sigma_recent-post">
            <div class="sigma_post-categories">
              <a href="#">Architect</a>
            </div>
            <div class="recent-post-descr">
              <h6>
                <a href="blog-details.html">We are the champions, we do not give up, we try</a>
              </h6>
              <div class="author-info d-flex align-items-center">
                <span>JH</span>
                <div>
                  <a href="#" class="author-name">John Henry</a>
                  <a href="blog-details.html" class="date">April 7, 2023</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Follow Widget -->
        <!-- <div class="widget widget-follow">
          <h5 class="widget-title">Follow Us</h5>
          <div class="social-buttons">
            <a href="#" class="sigma_btn">
              <div class="follow-icon d-flex align-items-center">
                <i class="fab fa-instagram"></i>
                <p class="mb-0">
                  Instagram
                  <span>225.5k Followers</span>
                </p>
              </div>
              <i class="fal fa-chevron-right"></i>
            </a>
            <a href="#" class="sigma_btn">
              <div class="follow-icon d-flex align-items-center">
                <i class="fab fa-twitter"></i>
                <p class="mb-0">
                  Twitter
                  <span>225.5k Followers</span>
                </p>
              </div>
              <i class="fal fa-chevron-right"></i>
            </a>
            <a href="#" class="sigma_btn">
              <div class="follow-icon d-flex align-items-center">
                <i class="fab fa-facebook-f"></i>
                <p class="mb-0">
                  Facebook
                  <span>225.5k Followers</span>
                </p>
              </div>
              <i class="fal fa-chevron-right"></i>
            </a>
            <a href="#" class="sigma_btn">
              <div class="follow-icon d-flex align-items-center">
                <i class="fab fa-youtube"></i>
                <p class="mb-0">
                  Youtube
                  <span>225.5k Followers</span>
                </p>
              </div>
              <i class="fal fa-chevron-right"></i>
            </a>
          </div>
        </div> -->
        <!-- Subscribe Widget -->
        <!-- <div class="widget widget-newsletter">
          <h5 class="widget-title">Join Newsletter</h5>
          <form method="post">
            <input type="email" name="email" placeholder="Enter your email">
            <button type="button" class="d-block w-100 mt-4">Subscribe</button>
          </form>
        </div>
      </div>
    </aside>
    <div class="sigma_aside-overlay aside-trigger-right">
    </div>
    <aside class="sigma_aside">
      <div class="sigma_close aside-trigger">
        <span></span>
        <span></span>
      </div>
      <div class="sigma_logo-wrapper">
        <a class="sigma_logo" href="index.html">
          <img src="assets/img/logo.png" alt="logo">
        </a>
      </div>
      <ul class="navbar-nav">
        <li class="menu-item">
          <a href="index.html">Home</a>
        </li>
        <li class="menu-item">
          <a href="about-us.html">About us</a>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="blog.html">Blog</a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="blog-details.html">Blog details</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="portfolio.html">Portfolio</a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="portfolio-details.html">Portfolio details</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="services.html">Services</a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="service-details.html">Service details</a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="contact-us.html">Contact us</a>
        </li>
      </ul>
    </aside>
    <div class="sigma_aside-overlay aside-trigger">
    </div>
    <header class="sigma_header style-3 can-sticky">
      <div class="sigma_header-middle">
        <div class="navbar">
          <div class="sigma_logo-wrapper">
            <a class="sigma_logo" href="index.html">
              <img src="assets/img/logo.png" alt="logo">
            </a>
          </div>
          <ul class="navbar-nav">
            <li class="menu-item">
              <a href="index.html">Home</a>
            </li>
            <li class="menu-item">
              <a href="about-us.html">About us</a>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="blog.html">Blog</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="blog-details.html">Blog details</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="portfolio.html">Portfolio</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="portfolio-details.html">Portfolio details</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item-has-children">
              <a href="services.html">Services</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="service-details.html">Service details</a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="contact-us.html">Contact us</a>
            </li>
          </ul>
          <div class="sigma_header-controls style-2">
            <ul class="sigma_header-controls-inner">
              <li class="search-trigger header-controls-item d-none d-sm-block">
                <a class="sigma_header-control-search" title="Search" href="#">
                  <i class="far fa-search"></i>
                </a>
              </li>

              <li class="aside-toggle aside-trigger-right desktop-toggler">
                <span></span>
                <span></span>
                <span></span>
              </li>
              <li class="aside-toggle aside-trigger">
                <span></span>
                <span></span>
                <span></span>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    </header>
    <div class="search-form-wrapper">
      <div class="search-trigger sigma_close">
        <span></span>
        <span></span>
      </div>
      <form class="search-form" method="post">
        <input type="text" placeholder="Search..." value="">
        <button type="submit" class="search-btn">
          <i class="fal fa-search m-0"></i>
        </button>
      </form>
    </div>
    <!--header End-->
  </div>
  <!--subheader Start-->
  <div id="section-subheader">
    <div class="sigma_subheader style-10">
      <div class="container">
        <div class="sigma_subheader-inner">
          <h1>Contact Us</h1>
        </div>
      </div>
    </div>
    <!--subheader End-->
  </div>
  <!--contact-form Start-->
  <div id="section-contact-form">
    <div class="sigma_contact-map">
      <iframe 
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.930637026682!2d36.83213055!3d-1.1726913999999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3c401ce98311%3A0x621913de24dcdddd!2sKirigiti%20International%20Stadium!5e0!3m2!1sen!2ske!4v1688463586603!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
    <div class="section sigma_contact-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title">
              <span class="subtitle">Call to Action</span>
              <h3 class="title">Make a Request</h3>
            </div>
            <div class="sigma_form style-2">
              <form class="mf_form_validate ajax_submit" action="/assets/sendmail.php" method="post"
                enctype="multipart/form-data">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="text" name="name" placeholder="Enter Full Name">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" name="email" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="number" name="phone" placeholder="Phone number">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select>
                        <option value="1" selected>Select Subject</option>
                        <option value="2">Option 1</option>
                        <option value="3">Option 2</option>
                        <option value="4">Option 3</option>
                        <option value="5">Option 4</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <textarea name="message" rows="10" placeholder="Enter Message"></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit">Submit Request</button>
                    <div class="server_response w-100">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="ps-0 ps-lg-5 mt-5 mt-lg-0">
              <div class="section-title">
                <span class="subtitle">Office Address</span>
                <h3 class="title">Catch us here</h3>
                <p>As a general rule, new clients take a placement test which enables them to determine which is
                  the most appropriate  for its business.</p>
              </div>
              <div class="sigma_contact-block style-2">
                <i class="fal fa-phone icon"></i>
                <div class="contact-block-inner">
                  <p>Phone number</p>
                  <h6 class="mb-0">+0758510206</h6>
                </div>
              </div>
              <div class="sigma_contact-block style-2">
                <i class="fal fa-envelope icon"></i>
                <div class="contact-block-inner">
                  <p>Email address</p>
                  <h6 class="mb-0">steveleo254@gmail.com</h6>
                </div>
              </div>
              <div class="sigma_contact-block style-2">
                <i class="fal fa-map-marker-alt icon"></i>
                <div class="contact-block-inner">
                  <p>Office Address</p>
                  <h6 class="mb-0">Opposite Kirigiti Stadium</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--contact-form End-->
  </div>
  <!--infobox Start-->
  <div id="section-infobox">
    <div class="section section-padding sigma_info-sec pt-0">
      <div class="container">
        <div class="section-title centered">
          <h3 class="title">Get our all info <span class="primary-color">directly from here</span>
          </h3>
          <p>In order for your funnel to be successful, you need to make it as smooth as possible.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="sigma_info style-1">
              <div class="sigma_info-title">
                <span class="sigma_info-icon bg-primary-1 text-white">
                  <i class="flaticon-translate is_flaticon"></i>
                </span>
                <h5>Discuss Forum</h5>
              </div>
              <div class="sigma_info-description">
                <p>Most students will sit an international language exam and receive an internationally recognized.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="sigma_info style-1">
              <div class="sigma_info-title">
                <span class="sigma_info-icon bg-primary-1 text-white">
                  <i class="flaticon-studies is_flaticon"></i>
                </span>
                <h5>Process System</h5>
              </div>
              <div class="sigma_info-description">
                <p>Most students will sit an international language exam and receive an internationally recognized.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="sigma_info style-1">
              <div class="sigma_info-title">
                <span class="sigma_info-icon bg-primary-1 text-white">
                  <i class="flaticon-partnership-handshake is_flaticon"></i>
                </span>
                <h5>Get The Answer</h5>
              </div>
              <div class="sigma_info-description">
                <p>Most clients diserve a test of what this app can CLX promises to deliver that .</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--infobox End-->
  </div>
  <!--to-top Start-->
  <div id="section-to-top">
    <div class="sigma_top style-3">
      <i class="far fa-arrow-up"></i>
    </div>
    <!--to-top End-->
  </div>
  <!--footer Start-->
  <div id="section-footer">
    <footer class="sigma_footer sigma_footer-sec">
      <div class="container">
        <div class="sigma_footer-middle text-center">
          <div class="sigma_footer-logo">
            <img src="assets/img/logo.png" alt="logo">
          </div>
          <ul class="sigma_footer-links">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
          <ul class="sigma_social-icons">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
          <div class="sigma_footer-copyright">
            <p class="mb-0">Champions, we do not give up, we try
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!--footer End-->
  </div>

  <!-- Javascript -->
  <script src="assets/js/plugins/jquery-3.4.1.min.js"></script>
  <script src="assets/js/plugins/popper.min.js"></script>
  <script src="assets/js/plugins/bootstrap.min.js"></script>
  <script src="assets/js/plugins/jquery.instagramFeed.min.js"></script>
  <script src="assets/js/plugins/slick.min.js"></script>
  <script src="assets/js/plugins/imagesloaded.min.js"></script>
  <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
  <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/plugins/jquery.counterup.min.js"></script>
  <script src="assets/js/plugins/jquery.inview.min.js"></script>
  <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
  <script src="assets/js/plugins/jquery.validate.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/functions/mf_form.js"></script>

</body>


</html>