<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <h1>My page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, fuga error placeat aliquam optio quis aspernatur asperiores magnam ratione voluptatum dolor quo, nulla facilis repellat eius sunt quas ea aliquid.</p>
    <a href="{{ url_for('register') }}">Don't have an account Signup?</a>
    <a href="{{ url_for('login') }}">Have an account login now</a>
</body>
</html>