<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {% extends "layout.html" %}
  {% block content %}

  <div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-3"></div>
      </div>
      <div class="col-lg-12">
        <div class="p-3"></div>
        
      </div>
      <div class="col-lg-6">
        <div class="p-3"></div>
        <h1>Sales per Product</h1>
        <img src="{{ bar_chart_data }}" alt="Pie Chart">
      </div>
      <div class="col-lg-6">
        <div class="p-3"></div>
        <h1>Sales per day</h1>
        <img src="{{ line_chart_data }}" alt="Pie Chart"> 
      </div>

    </div>
  </div>




  {% endblock %}

</body>

</html>