<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>/sales</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    
    <div>

        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale[0] }}</td>
                    <td>{{ sale[1] }}</td>
                    <td>{{ sale[2] }}</td>
                    <td>{{ sale[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
    <form action="/addsales" method="post">
        <div class="mb-3">
            <label for="exampleInputname" class="form-label">ID</label>
            <input name="id" type="text" class="form-control" aria-describedby="Name">
        </div>
        <div class="mb-3">
            <label for="exampleInputname" class="form-label">pid</label>
            <input name="pid" type="text" class="form-control" id="buying_price">
        </div>
        <div class="mb-3">
            <label for="exampleInputquantiy" class="form-label">quantity</label>
            <input name="quantity" type="text" class="form-control" id="selling">
        </div>
        <div class="mb-3">
            <label for="exampleInputTime" class="form-label">Time</label>
            <input name="time" type="text" class="form-control" id="selling">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>


    </form>
    {% endblock %}

    
</body>

</html>