<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>/sales</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}
    <style>
        .center-button {
        top:50%;
        background-color:#12a850;
        color: #fff;
        border:none; 
        border-radius:10px; 
        padding:15px;
        min-height:25px;
        float: right; 
        min-width: 100px;
        
    }
    </style>

    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="center-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            SALES +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">ADD SALES</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/addsales" method="POST">

                            <!-- <label for="fname">product_id:</label><br> -->
                            <select name="pid" id="product">
                                <option value="">Select a product</option>
                                {% for prod in prods %}
                                <option value="{{ prod[0] }}">{{ prod[1] }}</option>
                                {% endfor %}
                            </select><br><br>
                            <label for="lname">quantity:</label>
                            <input type="text" id="lname" name="quantity"><br><br>
                            <button type="submit" class="btn btn-primary">Submit</button><br>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div>

            <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                    <tr>
                        <td>{{ sale[0] }}</td>
                        <td name = "pid">
                            {% for prod in prods %}
                                {% if prod[0]==sale[1]%}
                                    {{prod[1]}}
                                {% endif %}
                            {% endfor %}

                        </td>
                        <td>{{ sale[2] }}</td>
                        <td>{{ sale[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

    {% endblock %}


</body>

</html>