<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>/sales</title>
</head>
<body>
    {% extends "layout.html" %}
    {% block content %}



    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    addsales
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">sales</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/addsales" method="post">
                <div class="mb-3">
                    <label for="exampleInputname" class="form-label">ID</label>
                    <input name="id" type="text" class="form-control" aria-describedby="Name">
                </div>
                <div class="mb-3">
                    <label for="exampleInputname" class="form-label">pid</label>
                    <input name="pid" type="text" class="form-control" id="buying_price">
                </div>
                <div class="mb-3">
                    <label for="exampleInputquantiy" class="form-label">quantity</label>
                    <input name="quantity" type="text" class="form-control" id="selling">
                </div>
                <div class="mb-3">
                    <label for="exampleInputTime" class="form-label">Time</label>
                    <input name="time" type="text" class="form-control" id="selling">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        
        
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button"  class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    
    <div>

        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale[0] }}</td>
                    <td>{{ sale[1] }}</td>
                    <td>{{ sale[2] }}</td>
                    <td>{{ sale[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
    
    {% endblock %}

    
</body>

</html>